html {
    --color-white: #fff;
    --bg-light: #f9fafc;
    --bg-disabled: #999;
    --bg-info: #18ADD4;
    --border-color: #DEE2E6;
}

body {
    font-family: 'Poppins', sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

body .content-wrapper {
    background: var(--color-white);
}

/* hader e navbar */

nav.navbar {
    background: var(--bg-info);
}

.content-wrapper>.content-header {
    background: var(--bg-info);
    padding-bottom: 70px;
}

ol li.breadcrumb-item {
    font-size: 12px;
}

ol li.breadcrumb-item+.breadcrumb-item:before, ol li.breadcrumb-item>a {
    color: rgba(255, 255, 255, .75);
}

ol li.breadcrumb-item.active, ol li.breadcrumb-item>a:hover {
    color: var(--color-white);
}

section.content {
    margin-top: -55px;
}

/* default */

tr.bg-info, span.bg-info {
    background: var(--bg-info) !important;
}

button.btn-link.text-danger:focus, button.btn-link.text-danger:hover {
    color: #a71d2a !important;
}

button.btn-link.text-success:focus, button.btn-link.text-success:hover {
    color: #19692c !important;
}

.tox-tinymce {
    border-radius: 4px !important;
}

/* sidebar left */

.main-sidebar .brand-link {
    display: flex;
    align-items: center;
}

.main-sidebar .brand-link img {
    max-width: 40px;
    margin-top: 0;
    margin-left: .5rem;
}

.nav-link.has-lvl-three.active {
    background: rgba(255, 255, 255, .125) !important;
    color: var(--color-white) !important;
}

/* inputs search index */

div[class*="index"] input::placeholder, div[class*="not-placeholder"] table input::placeholder {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 600 !important;
}

table tr th, table tr th a {
    font-weight: 500;
}

/* tables background light blue */

table tr.bg-info th a {
    color: var(--color-white);
    font-weight: 500;
}

/* configure card */

div.card {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .125);
}

div.card-header, h5.card-header {
    background: rgba(0, 0, 0, .03);
}

div.card-header li.nav-item>a.disabled {
    cursor: not-allowed;
    pointer-events: auto;
}

div.card-header li.nav-item>a.disabled:hover {
    color: #6c757d;
}

div.card-footer {
    border-top: 1px solid rgba(0, 0, 0, .125);
}

/* labels light bold */

body .wrapper .content-wrapper label {
    font-weight: 500;
}

.font-weight-semi-bold {
    font-weight: 500 !important;
}

/* select */

select[readonly] {
    pointer-events: none;
    touch-action: none;
}

.form-group.has-error .select2-selection {
    border-color: #dc3545;
}

.form-group.has-success .select2-selection {
    border-color: #28a745;
}

/* screen modulos */

.site-index .card-disabled a {
    opacity: 0.5;
    pointer-events: none;
}

.site-index .card-disabled a>p {
    background: var(--bg-disabled) !important;
}

.site-index a {
    transition: opacity 0.2s;
}

.site-index a:hover {
    opacity: 0.5;
}

.site-index .module-title {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-index .module-title i {
    font-size: 4rem;
}

.site-index .module-title span {
    position: absolute;
    left: 80%;
    top: 10px;
    font-size: 2rem;
}

/* removendo margin */

.not-margin>.form-group {
    margin-bottom: 0 !important;
}

/* multiselect */

.multiselect-container .form-group {
    margin-bottom: 0;
}

.multiselect-container .input-multiselect {
    border-radius: .25rem .25rem 0 0;
}

.multiselect-container .input-multiselect label {
    font-weight: 400 !important;
}

.multiselect label {
    font-weight: 400 !important;
}

.multiselect-container>.multiselect-footer {
    background: rgba(0, 0, 0, .03);
    padding: .375rem .75rem;
    border: 1px solid rgba(0, 0, 0, .125);
    border-top: 0;
    border-radius: 0 0 .25rem .25rem;
}

/* carousel caption */

.carousel-item .custom-carousel-caption {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.carousel-item .custom-carousel-caption p {
    margin-bottom: .25rem;
}

.loading-dark-mode, .submit-loading {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1040;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading-dark-mode {
    background: #282828;
}

.loading-dark-mode .spinner, .submit-loading .spinner {
    color: #878787;
    margin-bottom: 30px;
}

div[id^="accordion"] button.collapsed i {
    transform: rotate(180deg);
}

/* dynamic form */

.container-items:not(.card-group) .item+.item {
    border-top: 1px solid var(--border-color);
    margin-top: 1rem;
    padding-top: 1rem;
    margin-bottom: 0;
}

/* semaphore */

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-left: .5rem;
}

.dot.bg-white {
    border: 1px solid #bbb;
}

/* border */
.bw-3 {
    border-width: 3px !important;
}

/* actions in index module monitorar */

.monitorar-actions>div>a, .monitorar-actions>div>button, .ponto-atencao-actions>div>a {
    max-height: 200px;
    height: 100%;
    padding: 16px;
    transition: color 0.2s, background-color 0.2s;
}

.monitorar-actions>div>a:hover, .monitorar-actions>div>button:hover {
    color: var(--color-white) !important;
}

.monitorar-actions>div>a>small {
    font-weight: 500;
}

.monitorar-actions>div:nth-child(1)>button {
    color: purple;
}

.monitorar-actions>div:nth-child(1)>button:hover {
    background-color: purple !important;
}

.monitorar-actions>div:nth-child(2)>a {
    color: tomato;
}

.monitorar-actions>div:nth-child(2)>a:hover {
    background-color: tomato;
}

.monitorar-actions>div:nth-child(3)>a {
    color: crimson;
}

.monitorar-actions>div:nth-child(3)>a:hover {
    background-color: crimson;
}

.monitorar-actions>div:nth-child(4)>a {
    color: dodgerblue;
}

.monitorar-actions>div:nth-child(4)>a:hover {
    background-color: dodgerblue;
}

.monitorar-actions>div:nth-child(5)>button {
    color: steelblue;
}

.monitorar-actions>div:nth-child(5)>button:hover {
    background-color: steelblue !important;
}

.card-chart-recomendacaos {
    min-height: 240px;
}

section#pontos-atencao>div>a {
    flex: 1 1 0px;
    padding: 1rem;
}

section#actions>div>a, section#actions>div>button {
    flex: 1 1 0px;
    padding: 1rem;
}
