.main-timeline {
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.main-timeline:after {
  content: '';
  display: block;
  clear: both;
}

.main-timeline .timeline-item {
  width: 50%;
  padding: 0 0 0 30px;
  margin: 0 30px 20px 0;
  float: left;
  position: relative;
  z-index: 1;
}

.main-timeline .timeline-content {
  color: #333;
  background-color: #f5f5f5;
  min-height: 150px;
  padding: 30px 80px 30px 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: block;
}

.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after {
  content: '';
  background: linear-gradient(to bottom,#faa853 49%,#ffbf7d 50%);
  height: 100%;
  width: 30px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.main-timeline .timeline-content:after {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  transform: translateY(-50%);
  top: 50%;
  left: auto;
  right: -75px;
}

.main-timeline .timeline-content:hover { 
  text-decoration: none; 
}

.main-timeline .timeline-number {
  color: #fff;
  background: linear-gradient(to bottom,#faa853 49%,#ffbf7d 50%);
  font-size: 45px;
  text-align: center;
  line-height: 108px;
  height: 105px;
  width: 105px;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #fff;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: -52px;
  font-family: 'Duru Sans', sans-serif;
}

.main-timeline .title {
  color: #faa853;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 7px 0;
}

.main-timeline .description {
  font-size: 14px;
  letter-spacing: 1px;
  text-align: justify;
  margin: 0;
}

.main-timeline .timeline-item:nth-child(even) {
  float: right;
  padding: 0 30px 0 0;
  margin: 0 0 20px 30px;
}

.main-timeline .timeline-item:nth-child(even) .timeline-content {
  padding: 30px 30px 30px 80px; 
}

.main-timeline .timeline-item:nth-child(even) .timeline-content:before {
  left: auto;
  right: 0;
}

.main-timeline .timeline-item:nth-child(even) .timeline-content:after {
  right: auto;
  left: -75px;
}

.main-timeline .timeline-item:nth-child(even) .timeline-number {
  right: auto;
  left: -52px;
}

.main-timeline .timeline-item:nth-child(2) .timeline-content:before,
.main-timeline .timeline-item:nth-child(2) .timeline-content:after,
.main-timeline .timeline-item:nth-child(2) .timeline-number {
  background: linear-gradient(to bottom,#c781b5 49%,#da8ac5 50%);
}

.main-timeline .timeline-item:nth-child(2) .title { 
  color: #c781b5; 
}

.main-timeline .timeline-item:nth-child(3) .timeline-content:before,
.main-timeline .timeline-item:nth-child(3) .timeline-content:after,
.main-timeline .timeline-item:nth-child(3) .timeline-number {
  background: linear-gradient(to bottom,#7873b4 49%,#8882ca 50%);
}

.main-timeline .timeline-item:nth-child(3) .title{ 
  color: #7873b4; 
}

.main-timeline .timeline-item:nth-child(4) .timeline-content:before,
.main-timeline .timeline-item:nth-child(4) .timeline-content:after,
.main-timeline .timeline-item:nth-child(4) .timeline-number {
  background: linear-gradient(to bottom,#74b6e4 49%,#7cc0ef 50%);
}

.main-timeline .timeline-item:nth-child(4) .title{ 
  color: #74b6e4; 
}

.main-timeline .timeline-item:nth-child(5) .timeline-content:before,
.main-timeline .timeline-item:nth-child(5) .timeline-content:after,
.main-timeline .timeline-item:nth-child(5) .timeline-number {
  background: linear-gradient(to bottom,#a7cf43 49%,#afda45 50%);
}

.main-timeline .timeline-item:nth-child(5) .title{ 
  color: #a7cf43; 
}

.main-timeline .timeline-item:nth-child(6) .timeline-content:before,
.main-timeline .timeline-item:nth-child(6) .timeline-content:after,
.main-timeline .timeline-item:nth-child(6) .timeline-number {
  background: linear-gradient(to bottom,#73d4b4 49%,#88dabf 50%);
}

.main-timeline .timeline-item:nth-child(6) .title{ 
  color: #73d4b4;
}

.main-timeline .timeline-item:nth-child(7) .timeline-content:before,
.main-timeline .timeline-item:nth-child(7) .timeline-content:after,
.main-timeline .timeline-item:nth-child(7) .timeline-number {
  background: linear-gradient(to bottom,#e6423e 49%,#f94f4b 50%);
}

.main-timeline .timeline-item:nth-child(7) .title { 
  color: #e6423e; 
}

.main-timeline .timeline-item.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.main-timeline .timeline-item.disabled .title {
  color: #999 !important;
}

.main-timeline .timeline-item.disabled .timeline-content:before,
.main-timeline .timeline-item.disabled .timeline-content::after,
.main-timeline .timeline-item.disabled .timeline-number {
  background: linear-gradient(to bottom, #999 49%,#999 50%) !important;
}

@media screen and (max-width:767px) {
  .main-timeline .timeline-item,
  .main-timeline .timeline-item:nth-child(even) {
      width: 100%;
      padding: 0 75px 0 30px;
      margin: 0 0 20px;
  }

  .main-timeline .timeline-item:nth-child(even){ 
    padding: 0 30px 0 75px; 
  }

  .main-timeline .timeline-item .timeline-content:after{ 
    right: 0; 
  }

  .main-timeline .timeline-item:nth-child(even) .timeline-content:after{ 
    left: 0; 
  }

  .main-timeline .timeline-item .timeline-number{ 
    right: 20px; 
  }

  .main-timeline .timeline-item:nth-child(even) .timeline-number{ 
    left: 20px; 
  }
}

@media screen and (max-width:567px) {
  .main-timeline .timeline-item{ 
    padding: 0 35px 0 10px; 
  }
  
  .main-timeline .timeline-item:nth-child(even) { 
    padding: 0 10px 0 30px; 
  }
  
  .main-timeline .timeline-item .timeline-content { 
    padding: 30px 50px 30px 20px; 
  }
  
  .main-timeline .timeline-item:nth-child(even) .timeline-content { 
    padding: 30px 20px 30px 50px; 
  }
  
  .main-timeline .timeline-item .timeline-content:after {
      height: 80px;
      width: 80px;
      right: 0;
  }

  .main-timeline .timeline-item:nth-child(even) .timeline-content:after { 
    left: 0; 
  }
  
  .main-timeline .timeline-item .timeline-number {
      font-size: 30px;
      line-height: 50px;
      height: 50px;
      width: 50px;
      box-shadow: 0 0 0 5px #fff;
      right: 20px;
      right: 15px;
  }

  .main-timeline .timeline-item:nth-child(even) .timeline-number { 
    left: 15px; 
  }

  .main-timeline .title { 
    font-size: 18px; 
  }
}